*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.resource-btn{
    font-size: 20px;
    margin: 0 3px;
    border: none;
    background: none;
}

.fa{
    border: none;
    background: none;
}